html,body{
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
	cursor:none;
	background-color: #333;
	}
#chalkboard{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	cursor:none;
	background: url(../img/bg.png) repeat;
	}
.chalk{
	width:40px;
	height:50px;
	background:url(../img/chalk.png);
	position:absolute;
	padding:0;
	margin:0;
	bottom:0;
	left:0;
	cursor:none;
	z-index:2;
	}

.eraser{
	width: 50px;
	height: 100px;
	margin-top: -50px;
	margin-left: -25px;
	background: #999;
	border-radius: 5px;
	box-shadow: inset 0 0 10px #545445;
}
.panel{
	display: block;
	font-size: 18px;
	color: #333;
	font-family: sans-serif;
	position:absolute;
	margin:1em;
	bottom:0;
	left:0;
	z-index:5;
}

.draggable{
	position: absolute;
	width: 100%;
	bottom:120px;
	right:0;
}

.panel2{
	display: block;
	font-size: 18px;
	color: #333;
	font-family: sans-serif;
	position:absolute;
	margin:1em;
	bottom:0;
	left:100px;
	z-index:5;
}

.date{
	display: block;
	font-size: 18px;
	color: #ccc;
	font-family: sans-serif;
	position:absolute;
	margin:1em;
	bottom:0;
	right:0;
	top:0;
	z-index:5;
}

.subject{
	display: block;
	font-size: 18px;
	color: #ccc;
	font-family: sans-serif;
	position:absolute;
	margin:1em;
	left:0;
	top:0;
	z-index:5;
}

.topic{
	display: block;
	font-size: 18px;
	color: #ccc;
	font-family: sans-serif;
	position:absolute;
	margin:1em;
	left:0;
	top:30px;
	z-index:5;
}

label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
	font-style: italic;
}


.panel a, .panel2 a{
	display: inline-block;
	padding: 0.5em 1em;
	background:#ccc;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
	margin-right: 0.5em;
}

.panel a:hover, .panel2 a:hover{
	opacity: 1;
}

input{
	background-color: #333;
	color: #ccc;
	border-bottom: 2px white solid;
	border-left: transparent 4px solid;
	cursor: pointer;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
	font-style: italic;
	width: 200px;
}

#mydiv {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 3px solid #d3d3d3;
	text-align: center;
	width: 40%;
  }
  
  #mydivheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #333;
	color: #fff;
  }

  .collapsible {
	  background-color: #999;
	color: #444;
	cursor: pointer;
	padding-left: 18px;
	height: 2px;
	resize: vertical;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
 
  .active, .collapsible:hover {
	background-color: #ccc;
  }
  
  .content {
	  height: 180px;
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  }

  #textbox{
	  width: 100%;
	  height: 90%;
	  resize: vertical;
  }
