html,body{
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
	cursor:none;
	}
#chalkboard{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	cursor:none;
	background:url(../img/bg.png);
	}
.chalk{
	width:40px;
	height:50px;
	background:url(../img/chalk.png);
	position:absolute;
	padding:0;
	margin:0;
	bottom:0;
	left:0;
	cursor:none;
	z-index:2;
	}
.eraser{
	width: 50px;
	height: 100px;
	margin-top: -50px;
	margin-left: -25px;
	background: #999;
	border-radius: 5px;
	box-shadow: inset 0 0 10px #545445;
}